html,
body,
div, header {
	margin:0;
	padding:0;
}

body {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center center;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
#header {
	display:block;
	width:100%;
	height:200px;
	padding:20px;
}
div#mainWrapper {
	width:1200px;
	max-width:100%;
	margin:0 auto;
	background:rgba(255,255,255,0.5);
}

#logo {
	width:200px;
	height:100px;
	float:left;
}

#header-title {
	float:left;
	margin-left:30px;
}

#menubar {
	float:left;
	margin-left:30px;
}
#menubar li {
	display:inline-block;
	list-style-type:none;
}